---
layout: default
permalink: /
---
<main>
  <h1>Articles</h1>
  
  <ul class="posts">
    {% for post in site.posts %}
    <li class="post">
      <div class="post-content">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p class="post-description">{{ post.description }}</p>
        <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
      </div>
      {% if post.tile-image %}
      <img src="{{ post.tile-image }}" alt="{{ post.title }}" class="post-image" />
      {% else %}
      <img src="/assets/tile.jpg" alt="{{ post.title }}" class="post-image" />
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</main>

<div class="subscribe-footer">
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
