<meta name="twitter:card" content="summary" />

{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}" />
{% else %}
<meta name="twitter:title" content="Steve Hocking" />
{% endif %}

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}" />
{% else %}
<meta name="twitter:description" content="Steve Hocking - Software Developer and Architect" />
{% endif %}

{% if page.hero-image %}
<meta name="twitter:image" content="{{ site.url }}{{ page.hero-image }}" />
{% else %}
<meta name="twitter:image" content="{{ site.url }}/cm.png" />
{% endif %}
