---
layout: default
---
<header class="post-header post" style="background-image: url('/assets/blog-banner.jpg');">
  <div class="wrap">
    <h1>{{ page.title }}</h1>
  </div>
</header>

<div class="wrap home">

  {% assign sorted_posts = page.posts | sort: 'date' | reverse %}
  {% for post in sorted_posts %}
    {% include post-tile.html post=post %}
  {% endfor %}

</div>

<div class="subscribe-footer">
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
