---
layout: default
---
<header class="post-header post" style="background-image: url('/assets/blog-banner.jpg');">
  <div class="wrap">
    <h1>{{ page.title }}</h1>
  </div>
</header>

<div class="wrap home">

  {% assign sorted_posts = page.posts | sort: 'date' | reverse %}
  {% for post in sorted_posts %}
  <article class="post-tile">
    <div class="post-tile-image">
      {% if post.tile-image %}
      <img src="{{ post.tile-image }}" alt="{{ post.title }}">
      {% else %}
      <img src="/assets/tile.jpg" alt="{{ post.title }}">
      {% endif %}
    </div>
    <div class="post-tile-content">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <p class="post-description">{{ post.description }}</p>
      <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
      {% if post.categories %}
      <div class="post-tile-categories">
        {% for category in post.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/" class="category-badge">{{ category }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </article>
  {% endfor %}

</div>

<div class="subscribe-footer">
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
